# LLM Configuration
LLM_PROVIDER=openai
OPENAI_API_KEY=your_openai_api_key

# LangChain API Key
LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_PROJECT="Q&A Chatbot"
LANGCHAIN_TRACING_V2=true

# Application settings
LOG_LEVEL=INFO
ENVIRONMENT=development
