# Virtual Environment
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Local development
.DS_Store
Thumbs.db

# vector store
vector_store/
